@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Sora', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* nhóm class css của tailwind lại thành 1 class dùng trong trường hợp dùng chung css hoặc là viết class name nó dài*/
@layer components {
  .check-content {
    @apply mb-[51px] flex gap-8 ml-[70px] mr-[29px] items-center;
  }
}
